@model Tuple<MVCMensa3.Models.MensaSession, MVCMensa3.Models.Warenkorb>

@{ 
    var bestellungen = 0;
    var user = Model.Item1.User;
    if (Model.Item2.Dict.ContainsKey(user))
    {
        foreach(var bestellung in Model.Item2.Dict[user])
        {
            bestellungen += bestellung.Value;
        }
    }
}
<header class="em-separator-bot">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="row col-md-8">
            <a class="navbar-brand" href="/Start.html">e-Mensa</a>
            <ul class="navbar-nav">
                <li class="active nav-item em-separator-right"><a class="em-hl nav-link" href="@Url.Action("Index", "Home")">Start<span class="sr-only">(current)</span></a></li>
                <li class="nav-item em-separator-right">@Html.ActionLink("Mahlzeiten", "Index", "Produkt", null, new { @class = "em-hl nav-link" })</li>
                <li class="nav-item em-separator-right">@Html.ActionLink(String.Format("Bestellung ({0})", bestellungen), "Index", "Bestellung", null, new { @class = "em-hl nav-link" })</li>
                <li><a class="em-hl nav-link" href="https://www.fh-aachen.de">FH-Aachen</a></li>
            </ul>
        </div>
        <div class="row col-md-4 input-group">
            <form action="http://www.google.de/search" method="get" class="form-inline md-form form-sm mt-0">
                <div class="row">
                    <button type="submit" class="btn btn-default"><span class="fa fa-search" aria-hidden="true"></span></button>
                    <input name="q" class="form-control" type="text" placeholder="Search" aria-label="Search">
                    <input type="hidden" name="as_sitesearch" value="fh-aachen.de" />
                </div>
            </form>
        </div>
    </nav>
</header>